name: CD

on:
  workflow_run:
    workflows: [ "CI" ]
    types:
      - completed
    branches:
      - main

concurrency:
  group: deploy-${{ github.event.workflow_run.head_branch || 'main' }}
  cancel-in-progress: true

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions: {}
    uses: ./.github/workflows/deploy.yml
    secrets:
      COOLIFY_WEBHOOK: ${{ secrets.COOLIFY_WEBHOOK }}
      COOLIFY_TOKEN: ${{ secrets.COOLIFY_TOKEN }}
