name: CD

on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality:
    permissions:
      contents: read
    uses: ./.github/workflows/quality.yml
  docker:
    needs: quality
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/docker.yml
  deploy:
    permissions: {}
    needs: docker
    uses: ./.github/workflows/deploy.yml
    secrets:
      COOLIFY_WEBHOOK: ${{ secrets.COOLIFY_WEBHOOK }}
      COOLIFY_TOKEN: ${{ secrets.COOLIFY_TOKEN }}
